@font-face {
    font-family: 'Poppins regular';
    src: url("../fonts/Poppins-Regular.ttf");
    font-style: normal;
}

@font-face {
    font-family: 'Poppins semibold';
    src: url("../fonts/Poppins-SemiBold.ttf");
    font-style: normal;
}

@font-face {
    font-family: 'Poppins medium';
    src: url("../fonts/Poppins-Medium.ttf");
    font-style: normal;
}
