body {
    display: flex;
    justify-content: center;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.page {
    width: 100%;
    height: 100%;
}
.intro__title {
    font-family: 'Poppins semibold';
    font-size: 56px;
    line-height: 72px;

}
.intro__subtitle {
    font-family: 'Poppins regular';
    font-size: 24px;
    line-height: 36px;
    width: 80%;
}
.intro {
    width: 50%;
    display: flex;
    background: #F2F2F2;
    color: #333333;
    border-bottom-right-radius: 200px;
    flex-direction: column; 
    align-content: center;
    justify-content: center;
    padding: 80px 60px 60px 70px; 
    box-sizing: border-box;
    gap: 32px;
}
.stat-container {
    display: flex;
    flex-direction: row;
    width: 75%;
}
.stat {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 12px 12px 12px 0px;
    gap: 8px;
}
.stat__delimiter {
    height: 3px;
    width: 46px;
    background: #333333;
}
.stat__num {
    font-family: 'Poppins semibold';
    font-size: 22px;
}
.stat__text {
    font-size: 14px;
    font-family: 'Poppins regular';
    line-height: 20px;
}
.intro__button {
    width: 293px;
    height: 66px;
    display: inline-block;
    font-family: 'Poppins medium';
    font-size: 24px;
    -webkit-text-fill-color: white;
    border-radius: 40px;
    border: 0;
    background-color: #437223;
}
.intro__button:hover {
    background-color:#333333;
    transition: 0.7s;
}
.intro__button:not(:hover) {
    background-color:#437223;
    transition: 0.7s;
}
.color_text {
    color: #437223;
    text-transform: uppercase;
}
.right-side {
    width: 50%;
    height: 100%;
}
.right-side-container {
    display: flex;
    flex-direction: row;
    transform: translate(-11%, 9%);
}
.flowers {
    width: 700px;
    height: auto;
}
.logo {
    width: 100%;
    transform: translate(-72%, -5%);
}
.logo__image {
    width: 138px;
    height: 138px;
}

.cards-container {
    padding: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    border-radius: 16px;
    border-style: solid;
    width: 421px;
    border-width: 2px;
    border-color: #333333;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 10px 15px 10px; 
    gap: 24px;
}

.card > img {
    height: 80px;
    width: 80px;
}

.card > p {
    font-family: 'Poppins regular';
    font-size: 16px;
    line-height: 25px;
    width: 250px;
}